<header>
<div class = 'logo-cs'>
<img class = 'logo' src = './cslogo.png'></img>
<h1>ChordStrike</h1>
</div>
<div class = 'searchbar-div'>
<input class = 'searchbar' type = 'text' name = 'search' placeholder = 'search...'>
<img class = 'magglass' src = 'magglass.png'></img>
</div>
</header>
