<nav class = 'header-btns'>

  <form class = 'addsong-btn' action='/songs/new' >
  <input class = 'btn' type='submit' value = '+    Add a song' />
</form>

<div class = 'shufflebtn-div'>
<form class = 'shuffle-btn' action='/songs/shuffle' >
<img class = 'shuffle-icon' src="https://i.imgur.com/gAn6FO2.png">
<input class = 'shuffle-button' type='submit' value = 'Shuffle' />
</form>
</div>

<form class = 'playlist-btn' action='/songs/playlist' >
<!-- <img class = 'playlist-icon' src="https://i.imgur.com/qCUROAc.png"> -->
<input class = 'btn' type='submit' value = 'Generate Playlist' />
</form>
</nav>
