<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    
    <h1>Add New Song</h1>

    <form action = '/songs' method = 'POST'>
      <input type='text' name = 'title' placeholder = 'song title...'/><br/>
      <input type='text' name = 'artist' placeholder = 'artist...'/><br/>

    <!-- <input type='text' name = 'genre' placeholder = 'genre...'/><br/> -->
    <div class = genremenu>
      <div>
        Select all genres that apply: </div>
      <input type = 'checkbox' id = 'alternative' name = 'genre' value = ' alternative'>
      <label for = 'alternative'>alternative</label>
      <input type = 'checkbox' id = 'blues' name = 'genre' value = ' blues'>
      <label for = 'blues '>blues</label>
      <input type = 'checkbox' id = 'classical' name = 'genre' value = ' classical'>
      <label for = 'classical'>classical</label>
      <input type = 'checkbox' id = 'country' name = 'genre' value = ' country'>
      <label for = 'country'>country</label>
      <input type = 'checkbox' id = 'dance' name = 'genre' value = ' dance'>
      <label for = 'dance'>dance</label>
      <input type = 'checkbox' id = 'disco' name = 'genre' value = ' disco'>
      <label for = 'disco'>disco</label>
      <input type = 'checkbox' id = 'easy-listening' name = 'genre' value = ' easy-listening'>
      <label for = 'easy-listening'>easy-listening</label>
      <input type = 'checkbox' id = 'electronic' name = 'genre' value = ' electronic'>
      <label for = 'electronic'>electronic</label>
      <input type = 'checkbox' id = 'folk' name = 'genre' value = '  folk'>
      <label for = 'folk'>folk</label>
      <input type = 'checkbox' id = 'hip-hop' name = 'genre' value = ' hip-hop'>
      <label for = 'hip-hop'>hip-hop</label>
      <input type = 'checkbox' id = 'indie' name = 'genre' value = ' indie'>
      <label for = 'indie'>indie</label>
      <input type = 'checkbox' id = 'industrial' name = 'genre' value = ' industrial'>
      <label for = 'industrial'>industrial</label>
      <input type = 'checkbox' id = 'jazz' name = 'genre' value = ' jazz'>
      <label for = 'jazz'>jazz</label>
      <input type = 'checkbox' id = 'metal' name = 'genre' value = ' metal'>
      <label for = 'metal'>metal</label>
      <input type = 'checkbox' id = 'new-age' name = 'genre' value = ' new-age'>
      <label for = 'new-age'>new-age</label>
      <input type = 'checkbox' id = 'pop' name = 'genre' value = ' pop'>
      <label for = 'pop'>pop</label>
      <input type = 'checkbox' id = 'punk' name = 'genre' value = ' punk'>
      <label for = 'punk'>punk</label>
      <input type = 'checkbox' id = 'R&B/soul' name = 'genre' value = ' R&B/soul'>
      <label for = 'R&B/soul'>R&B/soul</label>
      <input type = 'checkbox' id = 'rap' name = 'genre' value = ' rap'>
      <label for = 'rap'>rap</label>
      <input type = 'checkbox' id = 'reggae' name = 'genre' value = ' reggae'>
      <label for = 'reggae'>reggae</label>
      <input type = 'checkbox' id = 'rock' name = 'genre' value = ' rock'>
      <label for = 'rock'>rock</label>
      <input type = 'checkbox' id = 'world' name = 'genre' value = ' world'>
      <label for = 'world'>world</label><br/>
    </div>
    Album Image: <input type= 'url' name = 'img' /><br/>

    Music Video Link: <input type= 'url' name = 'musicvideo' /><br/>




      <input type = 'submit' value = 'Add Song'/>
    </form>
  </body>
</html>
