<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%=songsShow.title%></h2>
    <h3><%=songsShow.artist%></h3>
    <h4>Genre: <%=songsShow.genre%></h4>
    <iframe width="560" height="315" src='<%=songsShow.musicvideo%>' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  </body>
</html>
