body {
  background: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-style: italic;
  font-size: 3.5em;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2vw;
}
.container {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-top: 5%;
  
}

.logo-cs {
  display: flex;
  flex-direction: row;
}

.indexphoto {
  width: 80%;
  border: 1px solid white;
  border-radius: 10px;
}

.indexphoto:hover {
  transform: scale(1.1)
}

li {
  width: 30%;
}

header {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 20%;
}

.search-bar {
  align-self: center;
  margin-right: 10%;
}
