<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- include('../partials/head.ejs') %>
    <title>Login Form</title>
  </head>
  <body>

    <div class = 'logo-csnew'>
      <div class = 'logoanchor-divnew'>
    <img class = 'logonew' src = 'https://i.imgur.com/C3dvPTM.png'></img>
      </div>
    <h1 class = 'chordstrikenew'>ChordStrike</h1>


    </div>
    <h1 class = 'newaccount'>Create a new account</h1>
    <form class = 'newsong-form' action='/users?_method=POST' method="POST">
  	<!-- user input-->
    Your email:<br>
  	<input class = 'newsong' type="text" name="email" placeholder="Enter your email..." ><br><br>
  	Username:<br>
  	<input class = 'newsong' type="text" name="username" placeholder="Enter a username..." ><br><br>
  	Password:<br>
  	<input class = 'passwordnew' type="password" name="password" placeholder="Enter a password..." ><br><br>

    <div class = 'signup-text'>By creating an account, you agree to ChordStrike's <span class = 'terms'>Terms and Conditions</span></div>
  	<!-- submit button -->
  	<input class = 'btn2' type="submit" value="Create Account">

    <div class = 'accountalready'>Already have an account? <a href = '/login'><span class = 'terms'>Log in here.</span></a></div>

	</form>

  </body>
</html>
